---
apiVersion: v1
kind: Secret
metadata:
  name: ldap-credential
  namespace: "{{ kube_iam_namespace }}"
type: Opaque
data:
  LDAP_ADMIN_PASSWORD: "{{ ldap_admin_password | b64encode }}"
  LDAP_CONFIG_PASSWORD: "{{ ldap_config_password | b64encode }}"
